Language: Cpp
Standard: c++20
BasedOnStyle: LLVM
AlignEscapedNewlines: Left
AlwaysBreakTemplateDeclarations: Yes
SpaceBeforeRangeBasedForLoopColon: false
UseTab: Never
SortIncludes: Never
AllowShortFunctionsOnASingleLine: Empty
IndentWrappedFunctionNames: false
AlwaysBreakAfterDefinitionReturnType: None
ColumnLimit: 120
AllowShortLambdasOnASingleLine: Empty
IndentRequires: true